In [84]:
import pandas as pd
import numpy as np
import sklearn
import sklearn.model_selection
import re
import nltk
import json
from bs4 import BeautifulSoup
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

## Pre-process the dataset

In [2]:
# Check the length of dataset
count = 0
with open ("Books_5.json") as Train_json:
    for i in Train_json:
        count += 1
print ("Total number of reviews is {}".format(count))

Total number of reviews is 8898041

In [3]:
## Check the first example in the dataset
with open ("Books_5.json") as Train_json:
    first_review = next(Train_json)
    first_review = json.loads(first_review)
    print (first_review)
    print ("\n")
    print (type(first_review))

{'reviewerID': 'A10000012B7CGYKOMPQ4L', 'asin': '000100039X', 'reviewerName': 'Adam', 'helpful': [0, 0], 'reviewText': 'Spiritually and mentally inspiring! A book that allows you to question your morals and will help you discover who you really are!', 'overall': 5.0, 'summary': 'Wonderful!', 'unixReviewTime': 1355616000, 'reviewTime': '12 16, 2012'}


<class 'dict'>

In [4]:
## Store the usefull information from this huge dataset
dataset = {}
dataset["review_text"] = []
dataset['rating'] = []
count = 0
with open ('Books_5.json') as Train_json:
    for i in Train_json:
        count+=1
        if count % 20 == 0:
            item = json.loads(i)
            dataset["review_text"].append(item["reviewText"])
            dataset["rating"].append(item["overall"])

In [5]:
## Check the length
print(len(dataset["review_text"]))
print (len(dataset['rating']))

444902
444902

In [20]:
## Store the review and rating seperately

dataset["review_text_1"] = []
dataset["review_text_2"] = []
dataset["review_text_3"] = []
dataset["review_text_4"] = []
dataset["review_text_5"] = []
for i in range(len(dataset['rating'])):
    if i%1000 == 0:
        print ("finish {} out of 444902".format(i))
    if dataset["rating"][i] == 5.0:
        dataset["review_text_5"].append(dataset['review_text'][i])
    elif dataset["rating"][i] == 4.0:
        dataset["review_text_4"].append(dataset['review_text'][i])
    elif dataset["rating"][i] == 3.0:
        dataset["review_text_3"].append(dataset['review_text'][i])
    elif dataset["rating"][i] == 2.0:
        dataset["review_text_2"].append(dataset['review_text'][i])
    else:
        dataset["review_text_1"].append(dataset['review_text'][i])

finish 0 out of 444902
finish 1000 out of 444902
finish 2000 out of 444902
finish 3000 out of 444902
finish 4000 out of 444902
finish 5000 out of 444902
finish 6000 out of 444902
finish 7000 out of 444902
finish 8000 out of 444902
finish 9000 out of 444902
finish 10000 out of 444902
finish 11000 out of 444902
finish 12000 out of 444902
finish 13000 out of 444902
finish 14000 out of 444902
finish 15000 out of 444902
finish 16000 out of 444902
finish 17000 out of 444902
finish 18000 out of 444902
finish 19000 out of 444902
finish 20000 out of 444902
finish 21000 out of 444902
finish 22000 out of 444902
finish 23000 out of 444902
finish 24000 out of 444902
finish 25000 out of 444902
finish 26000 out of 444902
finish 27000 out of 444902
finish 28000 out of 444902
finish 29000 out of 444902
finish 30000 out of 444902
finish 31000 out of 444902
finish 32000 out of 444902
finish 33000 out of 444902
finish 34000 out of 444902
finish 35000 out of 444902
finish 36000 out of 444902
finish 37000 out of 444902
finish 38000 out of 444902
finish 39000 out of 444902
finish 40000 out of 444902
finish 41000 out of 444902
finish 42000 out of 444902
finish 43000 out of 444902
finish 44000 out of 444902
finish 45000 out of 444902
finish 46000 out of 444902
finish 47000 out of 444902
finish 48000 out of 444902
finish 49000 out of 444902
finish 50000 out of 444902
finish 51000 out of 444902
finish 52000 out of 444902
finish 53000 out of 444902
finish 54000 out of 444902
finish 55000 out of 444902
finish 56000 out of 444902
finish 57000 out of 444902
finish 58000 out of 444902
finish 59000 out of 444902
finish 60000 out of 444902
finish 61000 out of 444902
finish 62000 out of 444902
finish 63000 out of 444902
finish 64000 out of 444902
finish 65000 out of 444902
finish 66000 out of 444902
finish 67000 out of 444902
finish 68000 out of 444902
finish 69000 out of 444902
finish 70000 out of 444902
finish 71000 out of 444902
finish 72000 out of 444902
finish 73000 out of 444902
finish 74000 out of 444902
finish 75000 out of 444902
finish 76000 out of 444902
finish 77000 out of 444902
finish 78000 out of 444902
finish 79000 out of 444902
finish 80000 out of 444902
finish 81000 out of 444902
finish 82000 out of 444902
finish 83000 out of 444902
finish 84000 out of 444902
finish 85000 out of 444902
finish 86000 out of 444902
finish 87000 out of 444902
finish 88000 out of 444902
finish 89000 out of 444902
finish 90000 out of 444902
finish 91000 out of 444902
finish 92000 out of 444902
finish 93000 out of 444902
finish 94000 out of 444902
finish 95000 out of 444902
finish 96000 out of 444902
finish 97000 out of 444902
finish 98000 out of 444902
finish 99000 out of 444902
finish 100000 out of 444902
finish 101000 out of 444902
finish 102000 out of 444902
finish 103000 out of 444902
finish 104000 out of 444902
finish 105000 out of 444902
finish 106000 out of 444902
finish 107000 out of 444902
finish 108000 out of 444902
finish 109000 out of 444902
finish 110000 out of 444902
finish 111000 out of 444902
finish 112000 out of 444902
finish 113000 out of 444902
finish 114000 out of 444902
finish 115000 out of 444902
finish 116000 out of 444902
finish 117000 out of 444902
finish 118000 out of 444902
finish 119000 out of 444902
finish 120000 out of 444902
finish 121000 out of 444902
finish 122000 out of 444902
finish 123000 out of 444902
finish 124000 out of 444902
finish 125000 out of 444902
finish 126000 out of 444902
finish 127000 out of 444902
finish 128000 out of 444902
finish 129000 out of 444902
finish 130000 out of 444902
finish 131000 out of 444902
finish 132000 out of 444902
finish 133000 out of 444902
finish 134000 out of 444902
finish 135000 out of 444902
finish 136000 out of 444902
finish 137000 out of 444902
finish 138000 out of 444902
finish 139000 out of 444902
finish 140000 out of 444902
finish 141000 out of 444902
finish 142000 out of 444902
finish 143000 out of 444902
finish 144000 out of 444902
finish 145000 out of 444902
finish 146000 out of 444902
finish 147000 out of 444902
finish 148000 out of 444902
finish 149000 out of 444902
finish 150000 out of 444902
finish 151000 out of 444902
finish 152000 out of 444902
finish 153000 out of 444902
finish 154000 out of 444902
finish 155000 out of 444902
finish 156000 out of 444902
finish 157000 out of 444902
finish 158000 out of 444902
finish 159000 out of 444902
finish 160000 out of 444902
finish 161000 out of 444902
finish 162000 out of 444902
finish 163000 out of 444902
finish 164000 out of 444902
finish 165000 out of 444902
finish 166000 out of 444902
finish 167000 out of 444902
finish 168000 out of 444902
finish 169000 out of 444902
finish 170000 out of 444902
finish 171000 out of 444902
finish 172000 out of 444902
finish 173000 out of 444902
finish 174000 out of 444902
finish 175000 out of 444902
finish 176000 out of 444902
finish 177000 out of 444902
finish 178000 out of 444902
finish 179000 out of 444902
finish 180000 out of 444902
finish 181000 out of 444902
finish 182000 out of 444902
finish 183000 out of 444902
finish 184000 out of 444902
finish 185000 out of 444902
finish 186000 out of 444902
finish 187000 out of 444902
finish 188000 out of 444902
finish 189000 out of 444902
finish 190000 out of 444902
finish 191000 out of 444902
finish 192000 out of 444902
finish 193000 out of 444902
finish 194000 out of 444902
finish 195000 out of 444902
finish 196000 out of 444902
finish 197000 out of 444902
finish 198000 out of 444902
finish 199000 out of 444902
finish 200000 out of 444902
finish 201000 out of 444902
finish 202000 out of 444902
finish 203000 out of 444902
finish 204000 out of 444902
finish 205000 out of 444902
finish 206000 out of 444902
finish 207000 out of 444902
finish 208000 out of 444902
finish 209000 out of 444902
finish 210000 out of 444902
finish 211000 out of 444902
finish 212000 out of 444902
finish 213000 out of 444902
finish 214000 out of 444902
finish 215000 out of 444902
finish 216000 out of 444902
finish 217000 out of 444902
finish 218000 out of 444902
finish 219000 out of 444902
finish 220000 out of 444902
finish 221000 out of 444902
finish 222000 out of 444902
finish 223000 out of 444902
finish 224000 out of 444902
finish 225000 out of 444902
finish 226000 out of 444902
finish 227000 out of 444902
finish 228000 out of 444902
finish 229000 out of 444902
finish 230000 out of 444902
finish 231000 out of 444902
finish 232000 out of 444902
finish 233000 out of 444902
finish 234000 out of 444902
finish 235000 out of 444902
finish 236000 out of 444902
finish 237000 out of 444902
finish 238000 out of 444902
finish 239000 out of 444902
finish 240000 out of 444902
finish 241000 out of 444902
finish 242000 out of 444902
finish 243000 out of 444902
finish 244000 out of 444902
finish 245000 out of 444902
finish 246000 out of 444902
finish 247000 out of 444902
finish 248000 out of 444902
finish 249000 out of 444902
finish 250000 out of 444902
finish 251000 out of 444902
finish 252000 out of 444902
finish 253000 out of 444902
finish 254000 out of 444902
finish 255000 out of 444902
finish 256000 out of 444902
finish 257000 out of 444902
finish 258000 out of 444902
finish 259000 out of 444902
finish 260000 out of 444902
finish 261000 out of 444902
finish 262000 out of 444902
finish 263000 out of 444902
finish 264000 out of 444902
finish 265000 out of 444902
finish 266000 out of 444902
finish 267000 out of 444902
finish 268000 out of 444902
finish 269000 out of 444902
finish 270000 out of 444902
finish 271000 out of 444902
finish 272000 out of 444902
finish 273000 out of 444902
finish 274000 out of 444902
finish 275000 out of 444902
finish 276000 out of 444902
finish 277000 out of 444902
finish 278000 out of 444902
finish 279000 out of 444902
finish 280000 out of 444902
finish 281000 out of 444902
finish 282000 out of 444902
finish 283000 out of 444902
finish 284000 out of 444902
finish 285000 out of 444902
finish 286000 out of 444902
finish 287000 out of 444902
finish 288000 out of 444902
finish 289000 out of 444902
finish 290000 out of 444902
finish 291000 out of 444902
finish 292000 out of 444902
finish 293000 out of 444902
finish 294000 out of 444902
finish 295000 out of 444902
finish 296000 out of 444902
finish 297000 out of 444902
finish 298000 out of 444902
finish 299000 out of 444902
finish 300000 out of 444902
finish 301000 out of 444902
finish 302000 out of 444902
finish 303000 out of 444902
finish 304000 out of 444902
finish 305000 out of 444902
finish 306000 out of 444902
finish 307000 out of 444902
finish 308000 out of 444902
finish 309000 out of 444902
finish 310000 out of 444902
finish 311000 out of 444902
finish 312000 out of 444902
finish 313000 out of 444902
finish 314000 out of 444902
finish 315000 out of 444902
finish 316000 out of 444902
finish 317000 out of 444902
finish 318000 out of 444902
finish 319000 out of 444902
finish 320000 out of 444902
finish 321000 out of 444902
finish 322000 out of 444902
finish 323000 out of 444902
finish 324000 out of 444902
finish 325000 out of 444902
finish 326000 out of 444902
finish 327000 out of 444902
finish 328000 out of 444902
finish 329000 out of 444902
finish 330000 out of 444902
finish 331000 out of 444902
finish 332000 out of 444902
finish 333000 out of 444902
finish 334000 out of 444902
finish 335000 out of 444902
finish 336000 out of 444902
finish 337000 out of 444902
finish 338000 out of 444902
finish 339000 out of 444902
finish 340000 out of 444902
finish 341000 out of 444902
finish 342000 out of 444902
finish 343000 out of 444902
finish 344000 out of 444902
finish 345000 out of 444902
finish 346000 out of 444902
finish 347000 out of 444902
finish 348000 out of 444902
finish 349000 out of 444902
finish 350000 out of 444902
finish 351000 out of 444902
finish 352000 out of 444902
finish 353000 out of 444902
finish 354000 out of 444902
finish 355000 out of 444902
finish 356000 out of 444902
finish 357000 out of 444902
finish 358000 out of 444902
finish 359000 out of 444902
finish 360000 out of 444902
finish 361000 out of 444902
finish 362000 out of 444902
finish 363000 out of 444902
finish 364000 out of 444902
finish 365000 out of 444902
finish 366000 out of 444902
finish 367000 out of 444902
finish 368000 out of 444902
finish 369000 out of 444902
finish 370000 out of 444902
finish 371000 out of 444902
finish 372000 out of 444902
finish 373000 out of 444902
finish 374000 out of 444902
finish 375000 out of 444902
finish 376000 out of 444902
finish 377000 out of 444902
finish 378000 out of 444902
finish 379000 out of 444902
finish 380000 out of 444902
finish 381000 out of 444902
finish 382000 out of 444902
finish 383000 out of 444902
finish 384000 out of 444902
finish 385000 out of 444902
finish 386000 out of 444902
finish 387000 out of 444902
finish 388000 out of 444902
finish 389000 out of 444902
finish 390000 out of 444902
finish 391000 out of 444902
finish 392000 out of 444902
finish 393000 out of 444902
finish 394000 out of 444902
finish 395000 out of 444902
finish 396000 out of 444902
finish 397000 out of 444902
finish 398000 out of 444902
finish 399000 out of 444902
finish 400000 out of 444902
finish 401000 out of 444902
finish 402000 out of 444902
finish 403000 out of 444902
finish 404000 out of 444902
finish 405000 out of 444902
finish 406000 out of 444902
finish 407000 out of 444902
finish 408000 out of 444902
finish 409000 out of 444902
finish 410000 out of 444902
finish 411000 out of 444902
finish 412000 out of 444902
finish 413000 out of 444902
finish 414000 out of 444902
finish 415000 out of 444902
finish 416000 out of 444902
finish 417000 out of 444902
finish 418000 out of 444902
finish 419000 out of 444902
finish 420000 out of 444902
finish 421000 out of 444902
finish 422000 out of 444902
finish 423000 out of 444902
finish 424000 out of 444902
finish 425000 out of 444902
finish 426000 out of 444902
finish 427000 out of 444902
finish 428000 out of 444902
finish 429000 out of 444902
finish 430000 out of 444902
finish 431000 out of 444902
finish 432000 out of 444902
finish 433000 out of 444902
finish 434000 out of 444902
finish 435000 out of 444902
finish 436000 out of 444902
finish 437000 out of 444902
finish 438000 out of 444902
finish 439000 out of 444902
finish 440000 out of 444902
finish 441000 out of 444902
finish 442000 out of 444902
finish 443000 out of 444902
finish 444000 out of 444902

In [21]:
print (len(dataset["review_text_5"]))
print (len(dataset["review_text_4"]))
print (len(dataset["review_text_3"]))
print (len(dataset["review_text_2"]))
print (len(dataset["review_text_1"]))

249099
111070
47619
20931
16183

In [22]:
del(dataset["review_text_1"])
del(dataset["review_text_2"])
del(dataset["review_text_3"])
del(dataset["review_text_4"])
del(dataset["review_text_5"])

In [24]:
## Convert Dataset to dataframe
dataset_df = pd.DataFrame(dataset)
print(len(dataset_df))
dataset_df.head(10)

444902

   rating                                        review_text
0     5.0  This book is everything that is simple, delica...
1     5.0  When I first started writing poetry at age 12 ...
2     5.0  Khalil Gibran's book, The Prophet, has the pow...
3     5.0  I was given this book by a writer friend who c...
4     5.0  A book to be treasured. A tremendous poet deal...
5     5.0  Needed to read this and could not find my old ...
6     5.0  I can't think of a title fitting enough. What ...
7     1.0  This book was a philosophical touchstone for i...
8     3.0  This book is tagged as THE PROPHET by KAHLIL G...
9     5.0  Book offers amazing Philosphy and at the same ...

In [25]:
dataset_df_5 = dataset_df[dataset_df["rating"]==5.0]
dataset_df_4 = dataset_df[dataset_df["rating"]==4.0]
dataset_df_3 = dataset_df[dataset_df["rating"]==3.0]
dataset_df_2 = dataset_df[dataset_df["rating"]==2.0]
dataset_df_1 = dataset_df[dataset_df["rating"]==1.0]

In [26]:
print(len(dataset_df_5))
print(len(dataset_df_4))
print(len(dataset_df_3))
print(len(dataset_df_2))
print(len(dataset_df_1))

249099
111070
47619
20931
16183

In [27]:
dataset_df_1_train = dataset_df_1.iloc[0:5000,]
dataset_df_1_test = dataset_df_1.iloc[5000:6000,]

In [28]:
dataset_df_2_train = dataset_df_2.iloc[0:5000,]
dataset_df_2_test = dataset_df_2.iloc[5000:6000,]

In [29]:
dataset_df_3_train = dataset_df_3.iloc[0:5000,]
dataset_df_3_test = dataset_df_3.iloc[5000:6000,]

In [30]:
dataset_df_4_train = dataset_df_4.iloc[0:5000,]
dataset_df_4_test = dataset_df_4.iloc[5000:6000,]

In [31]:
dataset_df_5_train = dataset_df_5.iloc[0:5000,]
dataset_df_5_test = dataset_df_5.iloc[5000:6000,]

In [32]:
frames_train = [dataset_df_5_train, dataset_df_4_train, dataset_df_3_train,dataset_df_2_train,dataset_df_1_train]
frames_test = [dataset_df_5_test, dataset_df_4_test, dataset_df_3_test,dataset_df_2_test,dataset_df_1_test]

In [34]:
dataset_df_train = pd.concat(frames_train)
dataset_df_test = pd.concat(frames_test)

In [35]:
## Clean the reviews
def data_cleaning (raw_review_str):
    ## remove potential HTML tag
    review_text = BeautifulSoup(raw_review_str).get_text()
    ## remove non-letter 
    review_letter = re.sub("[^a-zA-Z]"," ",review_text)
    ## convert to lower case and split the list
    review_lower_list = review_letter.lower().split()
    ## remove stop words and stemming
    stops_eng = set(stopwords.words("english"))
    stemmer = nltk.wordnet.WordNetLemmatizer()
    #review_nostopwords_stemmed = [stemmer.lemmatize(w) for w in review_lower_list]
    review_nostopwords_stemmed = [stemmer.lemmatize(w) for w in review_lower_list if w not in stops_eng]
    ## return 
    return " ".join(review_nostopwords_stemmed)

In [36]:
dataset_df_train["review_cleaned"] = dataset_df_train["review_text"].apply(data_cleaning)
dataset_df_test["review_cleaned"] = dataset_df_test["review_text"].apply(data_cleaning)

/Users/xinmu/anaconda/envs/py36/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/xinmu/anaconda/envs/py36/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "html.parser")

  markup_type=markup_type))

In [39]:
import os
os.getcwd()

'/Users/xinmu/Documents/Xin_Mu/Amazon_book_review'

In [71]:
dataset_df_train.to_csv(path_or_buf="/Users/xinmu/Documents/Xin_Mu/Amazon_book_review/Amazon_book_review_train.csv",index=True)
dataset_df_test.to_csv(path_or_buf="/Users/xinmu/Documents/Xin_Mu/Amazon_book_review/Amazon_book_review_test.csv",index=True)

In [77]:
train_from_csv = pd.read_csv('Amazon_book_review_train.csv',index_col = 0)
train_from_csv.head()
#train_from_csv.isnull().any()

,rating,review_text,review_cleaned
0,5.0,"This book is everything that is simple, delica...",book everything simple delicate true beautiful...
1,5.0,When I first started writing poetry at age 12 ...,first started writing poetry age encouraged re...
2,5.0,"Khalil Gibran's book, The Prophet, has the pow...",khalil gibran book prophet power transform dar...
3,5.0,I was given this book by a writer friend who c...,given book writer friend called beautiful book...
4,5.0,A book to be treasured. A tremendous poet deal...,book treasured tremendous poet dealing mostly ...

In [78]:
train_from_csv[train_from_csv['review_cleaned'].isnull()]

       rating  review_text review_cleaned
20160     3.0          NaN            NaN
419       2.0  not for me.            NaN
67063     2.0          NaN            NaN

In [79]:
dataset_df_train.isnull().any()

rating            False
review_text       False
review_cleaned    False
dtype: bool

In [80]:
dataset_df_train.dtypes

rating            float64
review_text        object
review_cleaned     object
dtype: object

In [83]:
dataset_df_train.shape

(25000, 3)

In [82]:
dataset_df_train.loc[[20160,419,67063]]

       rating  review_text review_cleaned
20160     3.0
419       2.0  not for me.
67063     2.0

In [47]:
dataset_df_train.shape

(25000, 3)

In [48]:
train_from_csv.shape

(25000, 3)

In [55]:
print(dataset_df.shape)
dataset_df.head(10)

(444902, 2)

   rating                                        review_text
0     5.0  This book is everything that is simple, delica...
1     5.0  When I first started writing poetry at age 12 ...
2     5.0  Khalil Gibran's book, The Prophet, has the pow...
3     5.0  I was given this book by a writer friend who c...
4     5.0  A book to be treasured. A tremendous poet deal...
5     5.0  Needed to read this and could not find my old ...
6     5.0  I can't think of a title fitting enough. What ...
7     1.0  This book was a philosophical touchstone for i...
8     3.0  This book is tagged as THE PROPHET by KAHLIL G...
9     5.0  Book offers amazing Philosphy and at the same ...

In [85]:
## Split the the dataset to training and test data
train_set, test_set = sklearn.model_selection.train_test_split(dataset_df,train_size=0.8)

/Users/xinmu/anaconda/envs/py36/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2010: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [86]:
## Put all the review of train_set in a list to generate the features
clean_train_reviews = []
for i in dataset_df_train["review_cleaned"]:
    clean_train_reviews.append(i)

In [87]:
## Put all the review of test_set in a list 
clean_test_reviews = []
for i in dataset_df_test["review_cleaned"]:
    clean_test_reviews.append(i)

In [88]:
## Generate Anather set of features
vectorizer = TfidfVectorizer(analyzer = "word", ngram_range=(1, 2), tokenizer = None, preprocessor = None, stop_words = None, max_features=20000)
train_data_features = vectorizer.fit_transform(clean_train_reviews)
test_data_features = vectorizer.transform(clean_test_reviews)

In [89]:
train_data_features.shape

(25000, 20000)

In [97]:
train_data_features = train_data_features.toarray() ## train_data_features now is a very sparse matrix
test_data_features = test_data_features.toarray()

In [91]:
type(train_data_features)

numpy.ndarray

In [92]:
train_data_features.shape

(25000, 20000)

In [95]:
forest = RandomForestClassifier(n_estimators = 200) 

# Fit the forest to the training set, using the bag of words as 
# features and the sentiment labels as the response variable
#
# This may take a few minutes to run
forest = forest.fit(train_data_features, dataset_df_train["rating"])

## Apply the model on test data set

In [98]:
# Use the random forest to make sentiment label predictions
result = forest.predict(test_data_features)

In [99]:
count_correct = 0
for i in range(len(result)):
    if result[i] == dataset_df_test['rating'].iloc[i]:
        count_correct+=1
print (count_correct/len(result))

0.4526

In [100]:
c1 = 0
c2 = 0
c3 = 0
c4 = 0
c5 = 0
for i in range(len(result)):
    if dataset_df_test['rating'].iloc[i] == 1.0:
        c1 += 1
    elif dataset_df_test['rating'].iloc[i] == 2.0:
        c2 += 1
    elif dataset_df_test['rating'].iloc[i] == 3.0:
        c3 += 1
    elif dataset_df_test['rating'].iloc[i] == 4.0:
        c4 += 1
    else:
        c5 += 1

In [101]:
print (c1/len(result), c2/len(result), c3/len(result), c4/len(result), c5/len(result))

0.2 0.2 0.2 0.2 0.2

In [102]:
assert(len(result)== len(dataset_df_test))