In [2]:
import os
import csv
from datetime import datetime
import numpy as np
import pandas as pd
from babs_datacheck import question_3
from babs_visualizations import usage_stats, usage_plot
from IPython.display import display
%matplotlib inline

In [4]:
file_in  = '201402_trip_data.csv'
file_out = '201309_trip_data_myresults.csv'

with open(file_in, 'r') as f_in, open (file_out, 'w') as f_out:
    in_reader = csv.reader(f_in)
    out_writer = csv.writer(f_out)
    
     
    for line in in_reader:
        if line[2][:9] == '10/1/2013':
            break
        out_writer.writerow(line)

In [7]:
sample_data = pd.read_csv('201309_trip_data_myresults.csv')
display (sample_data.head())

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [21]:
# Display the first few rows of the station data file.
station_info = pd.read_csv('201402_station_data.csv')
print len(station_info)
display(station_info.tail())
display(station_info.head())

69

,station_id,name,lat,long,dockcount,landmark,installation
64,76,Market at 4th,37.786305,-122.404966,19,San Francisco,8/25/2013
65,77,Market at Sansome,37.789625,-122.400811,27,San Francisco,8/25/2013
66,80,San Jose Government Center,37.352601,-121.905733,15,San Jose,12/31/2013
67,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014
68,83,Mezes Park,37.491269,-122.236234,15,Redwood City,2/20/2014

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [19]:
def creat_station_mapping(station_data):
    # Mapping stationID to city
    id_to_city = {}
    
    station = pd.read_csv(station_data)
    for i in range(len(station)):
        id_to_city[station.iloc[i,0]] = station.iloc[i,5]

    return id_to_city

In [20]:
display(creat_station_mapping('201402_station_data.csv'))

{2: 'San Jose',
 3: 'San Jose',
 4: 'San Jose',
 5: 'San Jose',
 6: 'San Jose',
 7: 'San Jose',
 8: 'San Jose',
 9: 'San Jose',
 10: 'San Jose',
 11: 'San Jose',
 12: 'San Jose',
 13: 'San Jose',
 14: 'San Jose',
 16: 'San Jose',
 21: 'Redwood City',
 22: 'Redwood City',
 23: 'Redwood City',
 24: 'Redwood City',
 25: 'Redwood City',
 26: 'Redwood City',
 27: 'Mountain View',
 28: 'Mountain View',
 29: 'Mountain View',
 30: 'Mountain View',
 31: 'Mountain View',
 32: 'Mountain View',
 33: 'Mountain View',
 34: 'Palo Alto',
 35: 'Palo Alto',
 36: 'Palo Alto',
 37: 'Palo Alto',
 38: 'Palo Alto',
 39: 'San Francisco',
 41: 'San Francisco',
 42: 'San Francisco',
 45: 'San Francisco',
 46: 'San Francisco',
 47: 'San Francisco',
 48: 'San Francisco',
 49: 'San Francisco',
 50: 'San Francisco',
 51: 'San Francisco',
 54: 'San Francisco',
 55: 'San Francisco',
 56: 'San Francisco',
 57: 'San Francisco',
 58: 'San Francisco',
 59: 'San Francisco',
 60: 'San Francisco',
 61: 'San Francisco',
 62: 'San Francisco',
 63: 'San Francisco',
 64: 'San Francisco',
 65: 'San Francisco',
 66: 'San Francisco',
 67: 'San Francisco',
 68: 'San Francisco',
 69: 'San Francisco',
 70: 'San Francisco',
 71: 'San Francisco',
 72: 'San Francisco',
 73: 'San Francisco',
 74: 'San Francisco',
 75: 'San Francisco',
 76: 'San Francisco',
 77: 'San Francisco',
 80: 'San Jose',
 82: 'San Francisco',
 83: 'Redwood City'}

In [4]:
a =1 
a
print a

1

In [5]:
a = 2
a
print a

2